.login_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.login_container h1 {
    margin-bottom: 0.5em;
}

.login_container p {
    color: #7b7b7b;
}

.form {
    width: 100%;
}