.new_user_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.new_user_container h1 {
    margin-bottom: 0.5em;
}

.new_user_container p {
    color: #7b7b7b;
}

.form {
    width: 100%;
    margin: 2em 0;
}