.new_transaction_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
  }
  
  .new_transaction_container h1 {
    margin-bottom: 0.5em;
  }
  
  .new_transaction_container p {
    color: #7b7b7b;
  }